@font-face {
    font-family: FuraCode;
    src: url('../fonts/FuraCode.woff') format('woff'),
         url('../fonts/FuraCode.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@page {
    size: letter
}

@media print {
    height: 11in;
    width: 8.5in;
}

body {
    font-family: Nunito
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0rem;
}

h1 {
    font-size: 19pt;
    font-weight: 600;
}

h2 {
    font-size: 14pt;
    font-weight: 600;
}

h3 {
    font-size: 11pt;
    color: dimgray;
    font-weight: 600;
}


a {
    color: #0b5394;
    text-decoration: none;
}

.info {
    display: block;
    line-height: normal;
}

.itemName {
    margin-left: 0;
    padding-right: 0.2cm;
    font-weight: 700;
    font-style: italic;
    display: inline;
}

.itemCaption {
    padding-left: 0.2cm;
    padding-right: 0.2cm;
    font-style: italic;
    display: inline;
}

.description {
    font-size: 11pt;
    text-align: justify;
}

.date {
    float: right;
    display: inline;
    /* font-family: FuraCode; */
    /* letter-spacing: -0.7px; */
    text-align: right;
    font-size: 11pt;
}

.verticle-spacer {
    height: 0.30cm;
    width: 100%;
}

.verticle-spacer-top {
    height: 0.20cm;
    width: 100%;
}

.nf {
    font-size: 1.2em;
    color: #0b5394;
}

.technologies {
    font-size: 0.7em;
    color: #0b5394;
    font-weight: 300;
    padding-left: 3px;
}

code {
    background-color: transparent;
    border-color: transparent;
}

hr {
    margin: 0;
    border-color: #0b5394;
}
