section.row#Education
    h2 Education
    .row
        .one.column
        .eight.colimns.itemName Stony Brook University of New York
        .three.columns.date  Aug 2013-May 2017
    .row
        .one.column
        .eleven.columns.description Bachelors of Science in Computer Science with a 3.24 CS GPA
