section.row#Education
    h2 Education
    hr
    .row
        .one.column
        .eight.columns.itemName Stony Brook University of New York
    .row
        .one.column
        .four.columns.description #[strong Bachelors] in Computer Science.
        .four.columns.description Major GPA: 3.24
        .three.columns.date  Aug '13 - May '17
    .row
        .one.column
        .four.columns.description #[strong Masters] in Computer Science.
        // .three.columns.description Major GPA: 3.12  TODO: UPDATE GPA
        .four.columns.date  Expected Graduation Dec '19
