section.row#Education
    h2 Education
    .row
        .itemName Stony Brook University Stony Brook, NY
        .date Aug'13 -> May'17
        .row
            .two.columns
            .ten.columns.description Bachelors in Computer Science
