section.row#Education
    h2 Education
    hr
    .row
        .one.column
        .eight.colimns.itemName Stony Brook University of New York
        .three.columns.date  Aug '13-May '17
    .row
        .one.column
        .eleven.columns.description Bachelors of Science in Computer Science, 3.24 CS GPA
