header.row
    .nine.columns
        h1 Neal Beeken
        h3 White Plains, NY
    .three.columns.info
        a(href="mailto:nbbeeken@gmail.com") nbbeeken@gmail.com
        a(href="http://nbbeeken.gitlab.io/") nealbeeken.com
        a (914) 574-3553
