header.row
    .nine.columns
        h1 Neal Beeken
        h3 White Plains, NY
    .three.columns
        a.info(href="mailto:nbbeeken@gmail.com") nbbeeken@gmail.com
        a.info(href="http://nbbeeken.gitlab.io/") nealbeeken.com
        a.info (914) 574-3553
